<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.jycr"
    version   = "1.0.0">

<name>Aplicación Final PhoneGap</name>

<description>
    Aplicación Final PhoneGap
</description>

<author href="https://example.com" email="you@example.com">
    Jessica Cabanillas
</author>

 <icon src="images/2.png" platform="ios" width="57" height="57" density="mdpi" />


</widget>
